.body {
  background-color: rgb(51, 51, 51);
}

.App {
  /* text-align: center; */
  /* margin: 0; */
  /* height: 100%; */
  /* overflow: auto; */
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* __________ spinner */

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

.neon {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff,
    0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}
.neon-red {
  text-shadow: 0 0 5px red, 0 0 10px red, 0 0 20px red, 0 0 40px rgb(255, 0, 0),
    0 0 80px rgb(255, 0, 0), 0 0 90px rgb(255, 0, 0), 0 0 100px rgb(255, 0, 0),
    0 0 150px rgb(255, 0, 0);
}

.neon-blue {
  text-shadow: 0 0 5px blue, 0 0 10px blue, 0 0 20px blue, 0 0 40px blue,
    0 0 80px blue, 0 0 90px blue, 0 0 100px blue, 0 0 150px blue;
}

.mainpage {
  display: flex;
  background-color: #282c34d4;
  color: white;
  /* border: 10px solid pink; */
}
.app-pages {
  width: 70vw;
}

.home-quote {
  margin-left: 2vw;
  margin-bottom: 2vh;
}
.chord-name-link {
  text-decoration: none;
  color: white;
}

.song-list {
  display: flex;
  /* flex-direction: row; */
}
.songs-know {
  display: flex;
  flex-direction: row;
}
.songs-know1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.songs-know2 {
  display: flex;
  flex-direction: row;
}

.songs-scroll {
  overflow-x: wrap;
}
.songs-page {
  /* overflow-x: auto; */
}

.noscroll::-webkit-scrollbar {
  /* display: none; */
}

.song-list-element {
  position: relative;
  text-align: center;
  color: white;
  padding: 10px;
}

.song-list-canplay-element {
  position: relative;
  text-align: center;
  color: white;
  padding: 10px;
}
.song-list-canplay-info {
  position: absolute;
  bottom: 20px;
  color: white;
}
.song-list-info {
  position: absolute;
  bottom: 40px;
  color: white;
  text-shadow: 2px 2px 2px 2px black;
}

.song-img {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}
.page {
  /* padding: 20px; */
}
.page-title {
  font-size: x-large;
}
.chord-images {
  width: 300px;
  border-width: 10px;
  border-color: red;

  background-color: white;
  /* padding: 20px; */
  color: black;
}
.dark {
  filter: invert(90%);
}

.dark-button {
  background-color: #282c34d4;
  color: white;
  border-radius: 30px;
}

.tick {
  height: 30px;
  /* z-index: 10; */
}

p {
  text-shadow: 1px 1px #000;
  position: absolute;
  margin-left: 5px;
}
.logo {
  margin-top: 1vh;
  height: 18vh;
  z-index: 1;
}

.sidebar-right {
  display: flex;
  flex-direction: row;
  justify-content: right;
  /* border: 10px solid pink; */
}
.bar-chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}
.home-order {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-bottom-info {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: right;
  margin-right: 2vw;
  margin-top: 2vh;
}
.main-chords {
  font-weight: bolder;
  font-size: x-large;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 1vh;
}
.main-info {
  margin: 1vw;
}

.header {
}
