.App-header {
    background-color: #282c34;
    height: 20vh;
    /* display: flex; */
    flex-direction: row;

    /* justify-content: center; */
    font-size: calc(10px + 2vmin);
    color: white;
  }
.head-user {
    justify-content: flex-start;
}
.head-center {
    font-size: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }