.Sidebar {
    display: flex;
    flex-direction: column;

    background-color: #282c34;
    color: white;
    width: 20vw;
    height: 80vh;


}
.btn {
    background-color: #282c34;
    color: white;
    cursor: pointer;
    width: 20vw;
    height: 8vh;
    text-decoration: none;

}