.sidebar-right {
  display: flex;
  flex-direction: column;

  align-items: center;
  background-color: #282c34;
  color: white;
  width: 15vw;
  height: 80vh;
  font-size: large;
  /* border: 10px solid pink; */
}
