.Sidebar {
  display: flex;
  flex-direction: column;

  align-items: center;
  background-color: #282c34;
  color: white;
  width: 15vw;
  height: 80vh;
  font-size: large;
  position: static;
  /* box-shadow: 12px 0px 21px 5px #282c34; */
  /* border: 10px solid pink; */
}
.sidebar-button {
  margin-top: 5vh;
  width: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btn {
  background-color: #282c34;
  color: white;
  cursor: pointer;
  width: 10vw;
  height: 8vh;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.neon {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff,
    0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}
.neon-red {
  text-shadow: 0 0 5px red, 0 0 10px red, 0 0 20px red, 0 0 40px rgb(255, 0, 0),
    0 0 80px rgb(255, 0, 0), 0 0 90px rgb(255, 0, 0), 0 0 100px rgb(255, 0, 0),
    0 0 150px rgb(255, 0, 0);
}

.neon-blue {
  text-shadow: 0 0 5px blue, 0 0 10px blue, 0 0 20px blue, 0 0 40px blue,
    0 0 80px blue, 0 0 90px blue, 0 0 100px blue, 0 0 150px blue;
}
